---
import Layout from '../layouts/Layout.astro';
import Home from '../components/sections/Home.astro';
import Menu from '../components/sections/Menu.astro';
import "../assets/scss/styles.scss"
---

<Layout title="Cooking Website">
	<main>
		<Home />
		<Menu />
	</main>
</Layout>

