nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .logo img {
      width: 100px;
      cursor: pointer;
      margin: 7px 0;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 15px;

        a {
          text-decoration: none;
          color: #000;
          font-weight: 500;
          font-size: 17px;
          transition: 0.1s;

          &::after {
            content: '';
            width: 0;
            height: 2px;
            background: #fac031;
            display: block;
            transition: 0.2s linear;
          }

          &:hover {
            color: #fac031;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    .icon i {
      font-size: 18px;
      color: #000;
      margin: 0 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #fac031;
      }
    }
  }