.gallery {
    width: 100%;
    padding: 70px 0;
  
    h1 {
      font-size: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      span {
        margin-left: 15px;
        margin-right: 15px;
        color: #fac031;
        font-family: mv boli;
  
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background: #fac031;
          display: block;
          position: relative;
          bottom: 15px;
        }
      }
    }
  
    .gallery_image_box {
      width: 95%;
      margin: 10px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      padding-top: 20px;
  
      .gallery_image {
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
  
        img {
          width: 100%;
          transition: 0.3s;
        }
  
        &:hover {
          img {
            opacity: 0.4;
          }
  
          h3, p, .gallery_btn {
            opacity: 1;
          }
  
          .gallery_btn {
            transform: translateY(0);
          }
        }
  
        h3 {
          position: absolute;
          font-size: 35px;
          margin-bottom: 130px;
          color: #fac031;
          font-family: polo;
          z-index: 5;
          opacity: 0;
          transition: 0.3s;
        }
  
        p {
          position: absolute;
          width: 400px;
          margin-top: 30px;
          text-align: center;
          color: white;
          line-height: 22px;
          z-index: 5;
          opacity: 0;
          transition: 0.3s;
        }
  
        .gallery_btn {
          position: absolute;
          margin-top: 180px;
          color: #000;
          background: #fac031;
          padding: 7px 25px;
          text-decoration: none;
          opacity: 0;
          transform: translateY(45px);
          z-index: 5;
          transition: 0.3s;
        }
      }
    }
  }
  