---
import { Image } from 'astro:assets';

import logo from "../../assets/images/logo.png";
import mainImg from "../../assets/images/main_img.png";

---
<section id="Home">
  <nav>
    <div class="logo">
      <Image src={logo} alt="Webiste Cooking Logo" height={50} />
    </div>

    <ul>
      <li><a href="#Home">Home</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#Menu">Menu</a></li>
      <li><a href="#Gallary">Gallary</a></li>
      <li><a href="#Review">Review</a></li>
      <li><a href="#Order">Order</a></li>
    </ul>

    <div class="icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </nav>

  <div class="main">
    <div class="men_text">
      <h1>Get Fresh<span>Food</span><br />in a Easy Way</h1>
    </div>

    <div class="main_image">
      <Image src={mainImg} alt="Main Image" />
    </div>
  </div>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse reiciendis
    quaerat nobis deleniti amet non inventore. Reprehenderit recusandae
    voluptatibus minus tenetur itaque numquam cum quos dolorem maxime. Quas,
    quaerat nisi. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Cumque facilis, quaerat cupiditate nulla quibusdam quo sunt esse tempore
    inventore vel voluptate, amet laudantium adipisci veniam nihil quam
    molestiae omnis mollitia.
  </p>

  <div class="main_btn">
    <a href="#">Order Now</a>
    <i class="fa-solid fa-angle-right"></i>
  </div>
</section>
