---
import type { IRecipe } from "../../utils/interfaces";
import MenuCard from "../cards/MenuCard.astro";

const bearerToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NjE0ZGU1M2M2NDVlZTg2YzMyZGIyZWEiLCJlbWFpbCI6Imphdmllci5jYWRlcnN1YXlAZ21haWwuY29tIiwiaWF0IjoxNzEyNjQzODM3fQ.DZxK7EA7R_j5rYkf2oIkEJxqQEsVtBEcrtG1Axa8IHQ";

let cards: IRecipe[] = [];

const response = await fetch(`${import.meta.env.PUBLIC_CRUD_API_URL}/recipes?page=1&limit=9`, {
  method: 'GET',
  headers: {
    'Authorization': `Bearer ${bearerToken}`,
  },
});

if (response.ok) {
  const recipes = await response.json();
  
  cards = recipes.data;
} else {
  console.error('Failed to fetch recipes:', response.statusText);
  cards = [];
}
---

<div class="menu" id="Menu">
  <h1>Our<span>Latest</span>Recipes</h1>

  <div class="menu_box">
    {
      cards.map((card) => (
        <MenuCard
          data={card}
        />
      ))
    }
  </div>
  <div class="pagination">
    <a href="/recipes" class="next">Explore All Recipes</a>
  </div>
</div>